        .div-1,
        .div-2 {
            background-color: rgb(49, 85, 168);
            /*width: 100px;
            height: 100px;
            */
            /*display: inline;*/
            /* display: block; PER DEFECTE*/
        }
        
        .span-1 {
            background-color: aquamarine;
            /* display: inline; PER DEFECTE*/
        }
        
        .span-2 {
            background-color: aquamarine;
            float: left;
        }
        
        .img {
            width: 100px;
            height: 100px;
            /* display: inline-block; PER DEFECTE*/
        }