    div {
        border: 1px solid gray;
        padding: 5px;
        margin: 5px;
        background-color: white;
    }
    /* Pos. Relatiu - Es posiciona en relacio a la posicionament original */
    
    .relative {
        position: relative;
        left: 50px;
        margin-left: 10px;
    }
    /* Pos. Fixe- Es posiciona en relacio a la pantalla */
    
    .fixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: greenyellow;
        z-index: 10;
    }
    /* Pos. Absolut Es posiciona en relacio a l'element ancestre */
    
    .relative.container {
        width: 300px;
        height: 400px;
        background-color: blue;
    }
    
    .absolute {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: brown;
    }
    
    .container {
        background-color: green;
    }
    /* Pos. Sticky En fer scroll modifica el seu posicionament relative-fixed*/
    
    .sticky {
        position: sticky;
        background-color: darksalmon;
        color: white;
        top: 0px;
        z-index: 2;
    }